# Dependency directory
node_modules/

# Optional npm cache directory
.npm/
.tmp/

build/

### JetBrains
## Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml

## Directory-based project format:
.idea/
